/* General reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-image: url(hospital-background.jpg);
  background-size: cover;
  background-position: center;
  padding-top: 60px; /* To account for the fixed header */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 120px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #0074D9;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  z-index: 1000; /* Ensure header stays on top */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 2.5rem;
  margin: 0;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #ffdc00; /* Change color on hover */
}

.main-content {
  background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white background */
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="file"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="file"]:focus {
  border-color: #0074D9; /* Change border color on focus */
  outline: none;
}

button[type="submit"] {
  background-color: #0074D9;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  align-self: center; /* Align the button in the center horizontally */
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color:rgb(8, 162, 173); /* Darker shade on hover */
}

.error {
  color: #c0392b; /* Red color for error messages */
}
